* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EAEDED;
	font-family: Arial, sans-serif;
}
body{
	background-color: rgb(34, 34, 34);
	scrollbar-highlight-color:yellow;
}
body::-webkit-scrollbar{
	width: 16px;
	background: rgba(255,255,255, .2);
}
body::-webkit-scrollbar-thumb{
	background: rgba(208, 0, 0, 0.638);
	border-radius: 10px;
	border-right: 2px solid #000;
}

a {
	text-decoration: none;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1200px;
}

main article {
	background: #fff;
	margin: 20px 0;
	padding: 20px;
}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
	background: #cc0026;
	padding: 5px 0;
	margin-bottom: 20px;
}

.menu .contenedor-botones-menu {
	/* display: flex; */
	display: none;
	justify-content: space-between;
}

.menu .contenedor-botones-menu button {
	font-size: 20px;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	background: none;
}

.menu .contenedor-botones-menu button:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
	display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
	display: inline-block;
}

.menu .contenedor-enlaces-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .btn-departamentos {
	color: #fff;
	padding: 7px;
	border-radius: 3px;
	display: flex;
	align-items: flex-end;
	border: 1px solid transparent;
	font-size: 12px;
	cursor: default;
}

.menu .btn-departamentos i {
	margin-left: 20px;
	position: relative;
	bottom: 3px;
}

.menu .btn-departamentos:hover {
	border: 1px solid rgba(255,255,255, .4);
}

.menu .btn-departamentos span {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
	color: #ccc;
	border: 1px solid transparent;
	padding: 7px;
	border-radius: 3px;
	font-size: 14px;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
	border: 1px solid rgba(255,255,255,.4);
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}

.grid {
	width: 100%;
	display: none;
	position: absolute;
	top: 5px;
	z-index: 1000;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: linear-gradient(to bottom, #a7001f, rgba(184, 0, 0, 0.844) 80%, #cc0025);
	box-shadow: 0px 3px 6px rgba(118, 89, 89, 0.1);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #fff;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: #E47911;
	font-weight: bold;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}

.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria.activo {
	display: grid;
}

.grid .subcategoria img {
	width: 100%;
	vertical-align: top;
	height: 100%;
	object-fit: cover;
}

.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}

.grid .enlaces-subcategoria a {
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
	color: #E47911;
}

.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #E47911;
	padding: 10px 20px;
}

.grid .banner-subcategoria a {
	display: block;
	height: 100%;
}

.grid .galeria-subcategoria {
	display: flex;
	flex-wrap: wrap;
	align-content: start;
}

.grid .galeria-subcategoria a {
	width: 50%;
	height: 50%;
}











.prim_img{
    width: 100%;
}
.es_im{
    width: 100%;
}
.az{
    border: 10px solid #0c69bb;
    margin-top: -4px;
}
.tex_mari{
    display: flex;
    flex-direction: column;
}
.mari{
    margin-top: -50px;
    margin-left: 9%;
}
.ti_mar{
    color: #FF1A44;
    font-size: 45px;
    font-family: poppins-semibold, poppins, sans-serif;
}
.sub_mari{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}
.nes{
    margin: auto;
    padding: auto;
}
.nos{
    color: #2D9CF1;
    font-size: 36px;
}
.az_1{
    border: 1px solid red;
    width: 20%;
    margin-top: 10px;
    margin-left: 40%;
}
.duo_im{
    width: 70%;
} 
.sev_diab{
    width: 70%;
}
.cone_imag{
    width: 60%;
}
.imh{
    width: 100%;
    height: 450px;
}
.cone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6%;
}
.cone_tex{
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #cc0025;
}
.hora{
    margin-top: -100px;
    color: #FF1A44;
    font-size: 37px;
    font-family: poppins-semibold, poppins, sans-serif;
}
.sub_asis{
    width: 100%;
}
.asis{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: justify;
    margin: auto;
    color: #e8e6e8;
    font-size: 16px;
}
.lun, .sab, .dom{
    color: #E8E6E3;
    font-size:20px;
    font-family: poppins-semibold, poppins, sans-serif;
    padding: 10px;
    text-align: left;
}
.do_btn{
	padding-top: 77px;
}
.gora_no{
	color: white ;
	background-color: #997600;
	font-size: 14px;
	border: none;
	transition: .4s ease all;
	width: 200px;
	height: 40px;
	border-radius: 10px;
}
.gora_no:hover{
	transition: .4s ease all;
	background-color: rgb(34, 34, 34);
}
.es_pim{
    height: 450px;
}









.cont_req{
	width: 100%;
	height: 20%;
	margin-top: 5%;
	display: flex;
	flex-direction: row;
}
.in_req{
    height: 450px;
	display: flex;
	flex-direction: column;
	border: 1px solid #2D9CF9;
	background-color: #0c69bb;
}
.yap{
	width: 80%;
	margin-top: 15%;
	margin-left: 7%;
    padding-bottom: 5%;
}
.p_img{
    width: 100%;
    height: auto;
}
.requisi{
	color: #E8E6E3;
	font-size: 56px;
	font-family: poppins-semibold, poppins, sans-serif;
}
.un_br_tx{
	color: #EAEDED;
	font-size: 16px;
	font-family: poppins-extraligth,poppins,sans-serif;
	padding-top: 35px;
}
.unul{
	padding-top: 25px;
	color: #EAEDED;
}
















.btn{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	text-align: center;
}
.ul_inf{
	background-color: rgba(163, 0, 0, 0.857);
}
.sub_ul{
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.enla_inter, .cap{
	padding-top: 30px;
}
.info_contact{
	padding-top: 100px;
}
.text_ser{
	color: #e8e6e3;
	font-size: 16px;
	font-family: poppins-semibold, poppins, sans-serif;
}
.unlink{
	color: #E8E6E3;
	font-size: 16px;
	font-family: poppins-extralight, poppins, sans-serif;
	text-decoration: none;
	justify-content: left;
	margin-left: auto;
}
.unlink:hover{
	color: #E8E6E3;
}
.trisub_ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 160px;
}
.u_servi{
	justify-content: left;
}
.otra_red{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
}
.untext{
	padding-bottom: 50px;
}
.ululti{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.yaultimo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding-bottom: 20px;
}
.ulti_re{
	padding-top: 70px;
}
.trisub_ul{
	padding-top: 30px;
}
.pri_tex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.admi{
	color: #2D9CF1;
	font-size: 75px;
	font-family: poppins-semibold, poppins, sans-serif;
}
.sub_admi{
	color: #606060;
	font-size: 16px;
	font-family: poppins-extralight, poppins, sans-serif;
}
.line_gray{
	background-color: rgb(34, 34, 34);
	border:rgb(34, 34, 34) solid 5px;
}
.ul_inf{
	background-color: rgba(163, 0, 0, 0.857);
}
.mimama{
	color: #E8E6E3;
	font-size: 16px;
	font-family: poppins-extralight, poppins, sans-serif;
}
.mipa{
	color: #E8E6E3;
	font-size: 13px;
	font-family: poppins-extralight, poppins, sans-serif;
}
.trisub_ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 160px;
}
.text_ser{
	color: #e8e6e3;
	font-size: 16px;
	font-family: poppins-semibold, poppins, sans-serif;
}
.unlink{
	color: #E8E6E3;
	font-size: 16px;
	font-family: poppins-extralight, poppins, sans-serif;
	text-decoration: none;
	justify-content: left;
	margin-left: auto;
}
.unlink:hover{
	color: #E8E6E3;
}
.otra_red{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
}
.untext{
	padding-bottom: 50px;
}
.ululti{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.yaultimo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding-bottom: 20px;
}
.ulti_re{
	padding-top: 70px;
}
.trisub_ul{
	padding-top: 30px;
}
@media screen and (min-width:767px) and (max-width:1023px){
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}
	.menu .contenedor {
		width: 100%;
	}


    .prim_img{
        width: 100%;
    }
    .es_im{
        width: 100%;
    }
    .az{
        border: 10px solid #0c69bb;
        margin-top: -4px;
    }
    .tex_mari{
        display: flex;
        flex-direction: column;
    }
    .mari{
        margin-top: -50px;
        padding: auto;
    }
    .ti_mar{
        color: #2D9CF1;
        font-size: 55px;
        font-family: poppins-semibold, poppins, sans-serif;
        text-align: center;
       margin: auto;
    }
    .sub_mari{
        display: flex;
        flex-direction: column;
        margin-top: 6%;
    }
    .nes{
        margin: auto;
        padding: auto;
    }
    .nos{
        color: #2D9CF1;
        font-size: 36px;
    }
    .az_1{
        border: 1px solid #0c69bb;
        width: 26%;
        margin-top: 14px;
        margin-left: 37%;
    }
    .in_mar{
        width: 54%;
        margin: auto;
    }
    .cap{
        font-size: 16px;
        text-align: center;
    }
    .duo_im{
        width: 70%;
    } 
    .sev_diab{
        width: 70%;
    }
    .cone_imag{
        width: 100%;
    }
    .imh{
        width: 100%;
        height: 225px;
    }
    .cone{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 6%;
    }
    .cone_tex{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background-color: #cc0025;
    }
    .hora{
        margin-top: -120px;
        color: #e8e6e8;
        font-size: 37px;
        font-family: poppins-semibold, poppins, sans-serif;
        margin-left: 8px;
        text-align: center;
    }
    .asis{
        text-align: justify;
        width: 90%;
        margin-left: 8px;
        margin-top: 10px;
        color: #e8e6e8;
        font-size: 16px;
    }
    .lun, .sab, .dom{
        color: #E8E6E3;
        font-size:20px;
        font-family: poppins-semibold, poppins, sans-serif;
        padding: 10px;
        text-align: left;
    }







}
@media screen and (min-width:380px) and (max-width:767px){
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-botones-menu {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: linear-gradient(to bottom, #a7001f, rgba(184, 0, 0, 0.844) 80%, #cc0025);
		border-top: 1px solid;
		border-right: 1px solid;
		height: 100vh;
		width: 80%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-departamentos {
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}

	.menu .btn-departamentos i {
		position: static;
		margin-left: 20px;
		transform: rotate(-90deg);
	}

	.menu .enlaces {
		width: 100%;
	}

	.menu .enlaces a {
		display: block;
		margin: 10px 0;
		padding: 10px;
	}

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .contenedor-subcategorias .banner-subcategoria {
		width: 100%;
		min-height: 250px;
		max-height: 350px;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}

	.grid .contenedor-subcategorias .galeria-subcategoria a {
		width: 25%;
		height: 100%;
	}





    
    .un_btn{
		margin-top: 3%;
	}
	.gora_si{
		color: #EAEDED;
		background-color: #997600;
		font-size: 14px;
		border: none;
		transition: .4s ease all;
		width: 142px;
		height: 40px;
		border-radius: 10px;
	}
	.gora_si:hover{
		transition: .4s ease all;
		color: #EAEDED;
		background-color: rgb(34, 34, 34);
	}
	.cont_req{
		width: 100%;
		height: 20%;
		margin-top: 5%;
		display: flex;
		flex-direction: column;
	}
	.in_req{
		display: flex;
		flex-direction: column;
		border: 1px solid #2D9CF9;
		background-color: #0c69bb;
	}
	.yap{
		width: 80%;
		margin-top: 8%;
		margin-left: 6%;
		padding: 3%;
	}
	.es_im{
		margin-top: 20px;
		width: 100%;
	}
	.requisi{
		color: #E8E6E3;
		font-size: 56px;
		font-family: poppins-semibold, poppins, sans-serif;
	}
	.un_br_tx{
		color: #EAEDED;
		font-size: 16px;
		font-family: poppins-extraligth,poppins,sans-serif;
		padding-top: 35px;
	}
	.unul{
		padding-top: 25px;
		color: #EAEDED;
	}
	.do_btn{
		padding-top: 77px;
	}
	.gora_no{
		margin-left: 13%;
		color: white ;
		background-color: #997600;
		font-size: 14px;
		border: none;
		transition: .4s ease all;
		width: 200px;
		height: 40px;
		border-radius: 10px;
		margin-bottom: 8%;
	}
	.gora_no:hover{
		transition: .4s ease all;
		background-color: #0c69bb;
	}
    .es_pim{
        width: 100%;
        height: 325px;
    }
    




    





    .prim_img{
        width: 100%;
    }
    .es_im{
        width: 100%;
    }
    .az{
        border: 10px solid #0c69bb;
        margin-top: -4px;
    }
    .tex_mari{
        display: flex;
        flex-direction: column;
    }
    .mari{
        margin-top: -20px;
        padding: auto;
    }
    .ti_mar{
        color: #FF1A44;
        font-size: 45px;
        font-family: poppins-semibold, poppins, sans-serif;
        text-align: center;
       margin: auto;
    }
    .sub_mari{
        display: flex;
        flex-direction: column;
        margin-top: 6%;
    }
    .nes{
        margin: auto;
        padding: auto;
    }
    .nos{
        color: #2D9CF1;
        font-size: 36px;
    }
    .az_1{
        border: 1px solid #0c69bb;
        width: 26%;
        margin-top: 14px;
        margin-left: 37%;
    }
    .in_mar{
        width: 54%;
        margin: auto;
    }
    .cap{
        font-size: 16px;
        text-align: center;
    }
    .duo_im{
        width: 70%;
    } 
    .sev_diab{
        width: 70%;
    }
    .cone_imag{
        width: 100%;
    }
    .imh{
        width: 100%;
        height: 225px;
    }
    .cone{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 6%;
    }
    .cone_tex{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background-color: #cc0025;
    }
    .hora{
        margin-top: -120px;
        color: #e8e6e8;
        font-size: 37px;
        font-family: poppins-semibold, poppins, sans-serif;
        margin-left: 8px;
        text-align: center;
    }
    
    .asis{
        text-align: justify;
        width: 90%;
        margin-left: 8px;
        margin-top: 10px;
        color: #e8e6e8;
        font-size: 16px;
    }
    .lun, .sab, .dom{
        color: #E8E6E3;
        font-size:20px;
        font-family: poppins-semibold, poppins, sans-serif;
        padding: 10px;
        text-align: left;
    }
















    .pri_tex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .admi{
        color: #2D9CF1;
        font-size: 85px;
        font-family: poppins-semibold, poppins, sans-serif;
    }
    .sub_admi{
        color: #606060;
        font-size: 16px;
        font-family: poppins-extralight, poppins, sans-serif;
    }
    .line_gray{
        background-color: rgb(34, 34, 34);
        border:rgb(34, 34, 34) solid 5px;
    }
    .na2{
        border: #2D9CF1 solid 5px;
    }
    .line_gray{
        background-color: rgb(34, 34, 34);
        border:rgb(34, 34, 34) solid 5px;
    }
    .text_ser{
        color: #e8e6e3;
        font-size: 16px;
        font-family: poppins-semibold, poppins, sans-serif;
    }
    .ul_inf{
        background-color: rgba(163, 0, 0, 0.857);
        padding-left: 30px;
        padding-top: 80px;
    }
    .trisub_ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .text_ser{
        color: #e8e6e3;
        font-size: 36px;
        font-family: poppins-semibold, poppins, sans-serif;
    }
    .unlink{
        color: #E8E6E3;
        font-size: 26px;
        font-family: pop pins-extralight, poppins, sans-serif;
        text-decoration: none;
        justify-content: left;
        margin-left: auto;
    }
    .unlink:hover{
        color: #E8E6E3;
    }
    .mimama{
        color: #E8E6E3;
        font-size: 36px;
        padding-top: 15px;
        font-family: poppins-extralight, poppins, sans-serif;
    }
    .im_mas_gra{
        width: 50px;
        height: 50px;
		margin-top: 30%;
    }
    .mipa{
        color: #E8E6E3;
        font-size: 13px;
        font-family: poppins-extralight, poppins, sans-serif;
    }
    .otra_red{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
		margin-right: 20%;
    }
    .certificados{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .untext{
        padding-bottom: 50px;
    }
    .ululti{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .yaultimo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding-bottom: 20px;
    }
    .ulti_re{
        padding-top: 70px;
    }
    .trisub_ul{
        padding-top: 30px;
    }
}